body  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(214, 230, 211);
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 100px;
    grid-template-rows: auto 100px 1fr 1fr auto;
    min-height: 100vh;
    gap: 5px;

}
.indice { background-color: rgb(105, 105, 230); color:white}
.cuerpo-texto {background-color: brown; color:white}
.icono {color:white}
.footer {background-color: green; color: blue;}

.cabecera {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: green;
    margin: 0 15%;
    padding: 40px;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    color: rgb(110, 200, 110);
    font-size: 34px; font-weight: bold;
}
.indice {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    padding: 15px;
    border: 3px solid; border-radius: 10px;

}
.cuerpo-texto {
    border: 4px solid;
    border-color: #72992e;
    border-radius: 15px;
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    padding: 5px;
}

.icono {
    grid-column: 1;
    grid-row: 1;
}
.footer {
    margin: 10px;
    padding: 15px;
    grid-column: 1 / 4;
    grid-row: 5;
    border: 4px solid;
    border-radius: 10px;
    color: rgb(110, 200, 110);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color:red;
}
.barramenus {
    grid-column: 2 / 4;
    grid-row: 2;
}
.busqueda {
    background-color: green;
    grid-column: 1;
    grid-row: 2;
    color: rgb(110, 200, 110);
    border: 4px solid;
    border-radius: 10px;
    padding: 10px;
}
.search-input {
    border: 4px solid;
    border-radius: 10px;
    color: rgb(110, 200, 110);
}

mark {
    background-color: #ffc107; 
    color: black; 
    padding: 0 2px;
}

.barramenus {
    border: 4px solid;
    border-radius: 10px;
    color: rgb(110, 200, 110);
    display: flex;
    gap: 10px;
    background-color: green;
    padding: 5px;
}

.barramenus button {
    background: #72992e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

.barramenus button:hover {
    background: #777;
}

.tab-content {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}