body  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(214, 230, 211);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr 1fr auto;

    gap: 10px;
}
.indice { background-color: rgb(105, 105, 230); color:white}
.cuerpo-texto {background-color: brown; color:white}
.icono {color:white}
.footer {background-color: yellow; color: blue;}

.cabecera {
    grid-column: 2 / 4;
    grid-row: 1;
    background-color: green;
    margin: 0 15%;
    padding: 40px;
    text-align: center;
    border: 4px solid;
    border-radius: 10px;
    color: rgb(110, 200, 110);
}
.indice {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
    padding: 15px;
    border: 3px solid; border-radius: 10px;

}
.cuerpo-texto {
    grid-column: 2;
    grid-row: 2;
}
.icono {
    grid-column: 1;
    grid-row: 1;
}
.footer {
    grid-column: 1 / 4;
    grid-row: 4;
}