body {
    background-color: rgb(191, 206, 167);
}
.recuadrotitulo {
    border: 2px solid black;
    padding: 10px;
    background-color: rgb(5, 5, 5);
    color:#FF0000;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

nav {
    overflow: hidden; /* Oculta todo lo que sobra */
    
    /* Características de Recuadro/Caja */
    width: 90%; /* Ancho de la barra */
    margin: 20px auto; /* Centra la barra */
    padding: 10px 0; /* Relleno superior/inferior para dar altura */
    
    /* Colores y Borde */
    background-color: #2c3e50; 
    border: 3px solid #f1c40f; 
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Sombra oscura */
}
nav ul {
    list-style: none; /* Elimina los puntos */
    padding: 0;
    /* Margen a los lados para separar del borde del NAV */
    margin: 0 10px 0 10px; 
}
nav ul li {
    float: left; /* Pone los elementos en fila */
    margin-right: 15px; /* Separación horizontal entre botones */
}
nav ul li a:link, 
nav ul li a:visited {
    color: #ffffff; 
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1.1em;
    font-weight: bold;

    /* Estilo de la caja (botón) */
    background-color: #3498db; 
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block; /* NECESARIO para que el padding funcione */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el hover */
}

/* Estilo al pasar el ratón (HOVER) */
nav ul li a:hover {
    background-color: #f1440f; 
    color: #2c3e50; 
    
    /* También puedes añadir un efecto visual */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
}
