body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #1d0d7a;
    background-image: url('../imagenes/fondo.gif') ;
    text-align: justify;
    margin-left: 3em;
}

h1 {
    font-family: Georgia;
    color: rgb(218, 108, 80);
    font-weight: bolder;
    font-size: 36px;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
}

.marco-h1 {
    border: 3px solid #3333;
    padding: 15px;
    background-color: #202628;
    width: 40%;
    margin: 20px auto;

}

.datos-contacto {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
}

.marco-datos {
    color: #bdd3d3;
    border: 3px solid #000000;
    padding: 20px;
    background-color: #0d6136;
    width: 25%;
    margin: 15px auto;
}

hr {
    margin-left: -3em;
}